@page
@model OnlineClientRegistration.Pages.Testing.ClientsManagementModel
@{
    var selectedClient = Model.Clients?.FirstOrDefault()?.PhoneNumber ?? "";
    
}

<table class="table" id ="clientsTable" current-client ="@selectedClient">
    <tr>
        <th>Номер телефону</th>
        <th>Ім'я</th>
        <th>Нотатки</th>
    </tr>
    @foreach (var client in Model.Clients)
    {
        <tr client-id="@client.PhoneNumber" class = "@(client.PhoneNumber == selectedClient ? "selected-row" : "")">
            <td>@client.PhoneNumber</td>
            <td>@client.Name</td>
            <td>@client.Notes?.Note</td>
        </tr>
    }
</table>

<input id="res" value="@selectedClient"></input>

<partial name="_ModalPartial" />

<div style="position:fixed; bottom:0; padding: 10px;">
    <button id="editClientButton" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#client-modal">Змінити</button>
</div>

<script>
    $('#clientsTable tr').click(function () {
       $('#clientsTable tr').removeClass('selected-row');
       $(this).addClass('selected-row');
       $('#res').val($(this).attr('client-id'));
       $('#clientsTable').attr('current-client', $(this).attr('client-id'));
   })

   $('#editClientButton').click(() => {
        const id = $('#clientsTable').attr('current-client');

        fetch(`?handler=clientdetails&id=${id}`)
        .then((response) => {
            return response.text();
        })
        .then((result) => {
            document.querySelector('.modal-body').innerHTML = result;
        });
    });
</script>

<style>
    .selected-row {
        background-color: rgba(107, 71, 156, 0.7);
    }
</style>

